table {
    width: 800px;
    border: 1pt solid #92B0DD;
    border-collapse: collapse;
    margin: 40px 140px;
}

td {
    border: 1pt dotted #adc9f3;
    padding:10px 5px;
    height: 120px;
    font-size: 12px;
    text-align: center;
}

.tr_line1 {
    font-weight: bold;
    color: #13305c;
    background: #E2EAF8;
}

.tr_line2 {
    color: #103266;
    background: #FFFFFf;
}
/* tr{
    display: block;
    width: 15px;
    height: 25px;
    margin: 0;
    padding: 3px 5px 2px 5px;
    border: 1px solid #13305c;
    background-color: #ffffff;
    color: #13305c;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}
.tr:hover{
    display: block;
    width: 35px;
    height: 25px;
    margin: 0;
    padding: 3px 5px 2px 5px;
    border: 1px solid #ffffff;
    background-color: #13305c;
    color: #ffffff;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
} */
